@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.sign_box{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px; 
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: inline-block;
    transform: translate(-50%,-50%);
}

.sign_box > img{
    width: 200px;
}

.sign_box > button{
    font-family: 'Inconsolata', monospace;
    background-color: #0a66c2;
    margin: 15px;
    padding: 5px 20px;
    border: 0px;
    color: white;
    border-radius: 5px;
}

.input{
    display: flex;
    width: 200px;
    margin: 20px;
    padding: 7px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.button{
    background-color: #0a66c2;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    padding: 7px;
    width: 218px;
}

.inside_sign{
    padding: 30px;
}